.guides-description {
    margin-top: 60px;
    text-align: center;
}

.guides-description__inner {

}

.guides-description__title {
    font-weight: 700;
}

.guides-description__paragraph {
    max-width: 632px;
    font-size: 20px;
    margin: 26px auto 50px auto;
}

@media (max-width: 768px) {
    .guides-description {
        display: flex;
        justify-content: center;
    }

    .guides-description__inner {
        max-width: 500px;
    }

    .guides-description__title {
        font-size: 30px;
        
    }

    .guides-description__paragraph {
        margin: 16px auto 25px auto;
    }
}