.hero__section {}

.hero__inner {
    display: flex;
    align-items: center;
}

.hero__block-left {}

.hero__title {}

.hero__title span {
    display: block;
    margin-bottom: 42px;
}

.hero__subtitle {
    font-size: 24px;
    margin-bottom: 26px;
}

.hero__button {
    background-color: #000000;
    color: #ffffff;
    padding: 8px 23px;
    border-radius: 100px;
    font-weight: 400;
}

.hero__block-right {}

/* .hero__image {
    position: relative;
    left: 110px;
} */

.hero__image {
    width: 100%;
    height: auto;
    max-width: 530px;
}

@media (max-width: 768px) {

    .hero__section {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    .hero__inner {
        width: 500px;
    }

    .hero__block-left {
        display: flex;
        flex-direction: column;
    }

    .hero__image {
        display: none;
    }

    .hero__title {
        font-size: 40px;
        text-align: center;
    }

    .hero__title span {
        margin-bottom: 22px;
    }

    .hero__subtitle {
        font-size: 20px;
        text-align: center;
    }
    
    .hero__button {
        margin: 0 auto;
    }
}